.register {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    background: url('../../img/logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.registerWrapper {
    position: relative;
    width: 35%;
    height: 70%;
    display: flex;
}

@media screen and (max-height: 768px) {
    .registerWrapper {
        height: 80%;
    }
}

.registerCenter {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*background: linear-gradient(45deg, rgba(157, 208, 250, 0.7), rgba(51, 51, 51, 0.7));*/
    background: white;
    border-radius: 10px;
    width: 100%;
    max-width: 800px; /* Примерная максимальная ширина */
    margin: 0 auto; /* Центрирует блок на странице */
    box-sizing: border-box; /* Учет padding и border в общей ширине */
}

.registerInput {
    position: relative; /* Убедитесь, что позиция установлена */
    font-size: 18px;
    height: 30px;
    border-radius: 10px;
    max-width: 100%; /* Максимальная ширина для элементов ввода */
    width: 100%; /* Ширина равная 100% */
    box-sizing: border-box; /* Учет padding и border в общей ширине */
}

Input:focus::-webkit-input-placeholder { color:gray }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.registerInput:focus{
    outline: none;
}

.registerButton{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.registerForgot{
    text-align: center;
    color: #1775ee;
}

.registerLoginButton{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.err{
  text-align: center;
  font-size: 20px;
  color: coral;
}

.selectDeps {
    height: 30px;
    border-radius: 10px;
    max-width: 100%; /* Максимальная ширина для селекта */
    width: 100%; /* Ширина равная 100% */
    box-sizing: border-box; /* Учет padding и border в общей ширине */
}

.divSelectRegister{
    position: absolute;
    right: 300px; /* Смещение влево на 50% */
    z-index: 1000;
    background-color: white;
    width: 60%; /* Ширина 60% */
    cursor: pointer;
    border-top: none;
    border-radius: 20px;
}

.inputContainer {
    position: relative;
    width: 100%
}

.registerInput {
    padding: 10px;
    width: 100%; /* ширина инпута */
    box-sizing: border-box; /* учитывает padding и border в общей ширине элемента */
}

.dropdown {
    position: absolute;
    top: 100%; /* позиционирует выпадающий список непосредственно под инпутом */
    left: 0;
    width: 100%; /* делает ширину выпадающего списка такой же, как у контейнера */
    z-index: 1000; /* чтобы выпадающий список был поверх других элементов */
    box-sizing: border-box; /* учитывает padding и border в общей ширине элемента */
}