div{
  word-wrap:break-word;
  white-space:pre-wrap;
}
.historyInfoTableBlock End{
justify-content: center;
}
.historyInfo{
  margin-top: 20px;
  background-color: white;
  min-height: 100px;
  width: 100%;
  border-radius: 10px;

}

.historyInfoTop{
  padding: 20px;
  display: flex;
  align-items: flex-end;
}

.historyInfoTitle{
  font-size: 30px;
  padding-right: 10px;
}

.isFatching{
  padding: 20px;
}

.historyInfoTable{
  display: flex;
  align-items: center;
  justify-content: center;

}

.historyInfoTableBlock{
  flex: 2.4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  font-size: 18px;
  min-height: 50px;
  text-align: center;
}

.historyInfoTableBlock.Data{
  border-left: none;
}

.historyInfoTableBlock.Start{
  
}

.historyInfoTableBlock.End{

}

.historyInfoTableBlock.Time{

}

.historyInfoTableBlock.Health{


}

.filterButton{
  height: 30px;
  min-width: 200px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
}

.errorHistoryInfo{
  font-size: 20px;
  color: coral;
  margin: 5px;
}

.historyFilter{
  padding: 10px;
}

.workVacation{
  text-decoration: underline;
  cursor: pointer;

}

.addVacation{
  margin-left: 20px;
  width: 30px;
  cursor: pointer;
  font-size: 25px;
  align-items: center;
  font-weight: bold;
}
.addVacation span{
  padding-left: 25%;
}

.addVacation:hover{
  background-color: rgb(212, 208, 208);
  border-radius: 50%;
}

.historyinfodate{
border: 1px solid grey;
min-width: 100px;
  text-align: center;
}
.historyinfopostdate{
  border: 1px solid grey;
  min-width: 100px;
  text-align: center;
}

.historyinfopost{
border: 1px solid grey;
text-align: center;

}

.historyinfocomment{
  border: 1px solid grey;
  min-width: 300px;
  text-align: center;
  width: 70vh;
}

.historycomment{
  border: 1px solid grey;
  text-align: center;
  min-width: 300px;
  width: 100%;
}

.ModalInputInfoVacancies{
  height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  font-weight:bold;
  margin-top: 20px;
}

.ModalInputInfoVacanciesComment{
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  font-weight:bold;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 200px;
}
.inputVacanciesDiv{
  text-align: center;
}