.errorMessage {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Задает высоту 100% от высоты видимой области */
}

.errorTitle {
  font-size: 72px;
  color: #1877f2;
}