.information{
  display: flex;
  background-color: rgb(233, 232, 232);
  min-height: calc(100vh - 80px);
  width: 100%;

}

.informationContainer{
  width: 100%;
  margin: 120px 20px 20px 20px;
  background-color: white;
  border-radius: 10px;
}

.infoMainText{
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}

.infoContainer{
  text-align: center;
  margin-top: 10px;
  display: flex;
  text-decoration:none;
}

.infoDate{
  font-style: italic;
  flex: 2;
}

.infoText{
  flex: 10;
  font-size: 18px;
}

.infoText h3{
  font-size: 20px;
}

.infoText p{
  margin-bottom: 10px;
}


.divLinkInformation{
  text-decoration: none;
  margin-left: 80px;
  display: inline-block;
  justify-items: center;
  font-size: 18px;

}

.testInformation{
text-align: center;
}