.AddRole{
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    cursor: pointer;
    width: 100px;
}

.divInputRole1 {
    border: none;
    position: absolute;
    background-color: white;

    z-index: 1000;
    width: 100%;
}
.ModalInputUpdate1 {
    position: relative;

}
.RoleWrapper{
    position: relative;
}
