.MainContainers{
    display: flex;
    background-color: rgb(233, 232, 232);
    min-height: calc(100vh - 80px);
    height: 100%;
    max-width: 100vw;
}

.mainContent {
    display: flex;
    flex: 1;
}